.login-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 25vh;

  input {
    margin: 5px;
    padding-left: 15px;
    height: 40px;
    width: 25vw;
    border: 4px solid skyblue;
    border-radius: 8px;
  }
  button {
    @extend input;
    background-color: rgb(177, 127, 127);
  }
}
